Przygotowanie danych

In [1]:
import sys
sys.path.append('../pyorderedfuzzy')

In [2]:
import numpy as np
import pandas as pd
%matplotlib widget
import matplotlib.pyplot as plt

In [20]:
df = pd.read_csv(r'../data/WIG20.prn')
df.head()

    Name      Date  Time    Open    High     Low   Close  Volume  Oi
0  WIG20  20001117  1002  1614.0  1614.0  1614.0  1614.0       0   0
1  WIG20  20001117  1003  1615.0  1615.0  1615.0  1615.0       0   0
2  WIG20  20001117  1004  1615.0  1616.0  1615.0  1616.0       0   0
3  WIG20  20001117  1005  1615.0  1615.0  1615.0  1615.0       0   0
4  WIG20  20001117  1006  1614.0  1615.0  1614.0  1615.0       0   0

In [21]:
df['DateTime'] = df['Date'].astype(str)+df['Time'].astype(str)
df.head()

,Name,Date,Time,Open,High,Low,Close,Volume,Oi,DateTime
0,WIG20,20001117,1002,1614.0,1614.0,1614.0,1614.0,0,0,200011171002
1,WIG20,20001117,1003,1615.0,1615.0,1615.0,1615.0,0,0,200011171003
2,WIG20,20001117,1004,1615.0,1616.0,1615.0,1616.0,0,0,200011171004
3,WIG20,20001117,1005,1615.0,1615.0,1615.0,1615.0,0,0,200011171005
4,WIG20,20001117,1006,1614.0,1615.0,1614.0,1615.0,0,0,200011171006

In [31]:
def conv_time(x):
    if len(x)==12:
        return pd.datetime(int(x[:4]), int(x[4:6]), int(x[6:8]), int(x[8:10]), int(x[10:]))
    elif len(x)==11:
        return pd.datetime(int(x[:4]), int(x[4:6]), int(x[6:8]), int(x[8:9]), int(x[9:]))
    else:
        raise ValueError('len(x)={}'.format(len(x)))
        

df['DateTime'] = df['DateTime'].astype(str).apply(conv_time)

In [33]:
df.tail(100)

,Name,Date,Time,Open,High,Low,Close,Volume,Oi,DateTime
2079080,WIG20,20190318,1533,2346.40,2346.50,2346.40,2346.47,0,0,2019-03-18 15:33:00
2079081,WIG20,20190318,1534,2346.40,2346.40,2346.12,2346.13,0,0,2019-03-18 15:34:00
2079082,WIG20,20190318,1535,2346.22,2346.28,2345.77,2345.77,0,0,2019-03-18 15:35:00
2079083,WIG20,20190318,1536,2346.07,2346.82,2346.07,2346.65,0,0,2019-03-18 15:36:00
2079084,WIG20,20190318,1537,2346.35,2346.35,2346.19,2346.20,0,0,2019-03-18 15:37:00
2079085,WIG20,20190318,1538,2346.22,2346.70,2346.22,2346.47,0,0,2019-03-18 15:38:00
2079086,WIG20,20190318,1539,2346.68,2346.81,2346.68,2346.81,0,0,2019-03-18 15:39:00
2079087,WIG20,20190318,1540,2346.35,2346.59,2346.26,2346.38,0,0,2019-03-18 15:40:00
2079088,WIG20,20190318,1541,2346.19,2346.19,2345.86,2346.00,0,0,2019-03-18 15:41:00
2079089,WIG20,20190318,1542,2346.49,2346.49,2346.06,2346.06,0,0,2019-03-18 15:42:00
2079090,WIG20,20190318,1543,2347.90,2347.90,2347.19,2347.29,0,0,2019-03-18 15:43:00
2079091,WIG20,20190318,1544,2347.08,2347.26,2347.08,2347.26,0,0,2019-03-18 15:44:00
2079092,WIG20,20190318,1545,2346.76,2346.76,2346.58,2346.58,0,0,2019-03-18 15:45:00
2079093,WIG20,20190318,1546,2346.71,2346.72,2346.60,2346.72,0,0,2019-03-18 15:46:00
2079094,WIG20,20190318,1547,2346.52,2346.52,2346.10,2346.29,0,0,2019-03-18 15:47:00
2079095,WIG20,20190318,1548,2346.42,2346.83,2346.42,2346.83,0,0,2019-03-18 15:48:00
2079096,WIG20,20190318,1549,2346.80,2347.22,2346.80,2347.22,0,0,2019-03-18 15:49:00
2079097,WIG20,20190318,1550,2347.14,2347.14,2346.78,2346.78,0,0,2019-03-18 15:50:00
2079098,WIG20,20190318,1551,2346.63,2346.63,2346.46,2346.46,0,0,2019-03-18 15:51:00
2079099,WIG20,20190318,1552,2347.03,2347.25,2347.03,2347.25,0,0,2019-03-18 15:52:00
2079100,WIG20,20190318,1553,2347.11,2347.34,2346.89,2346.89,0,0,2019-03-18 15:53:00
2079101,WIG20,20190318,1554,2347.01,2347.09,2347.01,2347.09,0,0,2019-03-18 15:54:00
2079102,WIG20,20190318,1555,2347.29,2347.65,2347.29,2347.57,0,0,2019-03-18 15:55:00
2079103,WIG20,20190318,1556,2347.26,2347.26,2347.16,2347.16,0,0,2019-03-18 15:56:00
2079104,WIG20,20190318,1557,2347.48,2347.48,2347.07,2347.07,0,0,2019-03-18 15:57:00
2079105,WIG20,20190318,1558,2346.97,2346.97,2346.70,2346.70,0,0,2019-03-18 15:58:00
2079106,WIG20,20190318,1559,2346.76,2346.76,2346.62,2346.74,0,0,2019-03-18 15:59:00
2079107,WIG20,20190318,1600,2346.74,2346.74,2346.56,2346.70,0,0,2019-03-18 16:00:00
2079108,WIG20,20190318,1601,2346.63,2346.95,2346.63,2346.83,0,0,2019-03-18 16:01:00
2079109,WIG20,20190318,1602,2346.51,2346.51,2346.36,2346.36,0,0,2019-03-18 16:02:00
...,...,...,...,...,...,...,...,...,...,...
2079150,WIG20,20190318,1643,2347.20,2347.20,2346.69,2346.86,0,0,2019-03-18 16:43:00
2079151,WIG20,20190318,1644,2346.75,2347.44,2346.75,2347.11,0,0,2019-03-18 16:44:00
2079152,WIG20,20190318,1645,2346.97,2347.39,2346.97,2347.39,0,0,2019-03-18 16:45:00
2079153,WIG20,20190318,1646,2347.48,2347.55,2347.24,2347.40,0,0,2019-03-18 16:46:00
2079154,WIG20,20190318,1647,2347.52,2347.95,2347.52,2347.85,0,0,2019-03-18 16:47:00
2079155,WIG20,20190318,1648,2347.81,2347.81,2347.33,2347.33,0,0,2019-03-18 16:48:00
2079156,WIG20,20190318,1649,2346.82,2346.83,2346.43,2346.43,0,0,2019-03-18 16:49:00
2079157,WIG20,20190318,1650,2345.16,2345.48,2344.05,2345.14,0,0,2019-03-18 16:50:00
2079158,WIG20,20190318,1651,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:51:00
2079159,WIG20,20190318,1652,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:52:00
2079160,WIG20,20190318,1653,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:53:00
2079161,WIG20,20190318,1654,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:54:00
2079162,WIG20,20190318,1655,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:55:00
2079163,WIG20,20190318,1656,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:56:00
2079164,WIG20,20190318,1657,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:57:00
2079165,WIG20,20190318,1658,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:58:00
2079166,WIG20,20190318,1659,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 16:59:00
2079167,WIG20,20190318,1700,2345.47,2345.47,2345.47,2345.47,0,0,2019-03-18 17:00:00
2079168,WIG20,20190318,1701,2345.44,2345.84,2345.44,2345.84,0,0,2019-03-18 17:01:00
2079169,WIG20,20190318,1702,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:02:00
2079170,WIG20,20190318,1703,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:03:00
2079171,WIG20,20190318,1704,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:04:00
2079172,WIG20,20190318,1705,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:05:00
2079173,WIG20,20190318,1706,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:06:00
2079174,WIG20,20190318,1707,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:07:00
2079175,WIG20,20190318,1708,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:08:00
2079176,WIG20,20190318,1709,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:09:00
2079177,WIG20,20190318,1710,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:10:00
2079178,WIG20,20190318,1711,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:11:00
2079179,WIG20,20190318,1716,2345.84,2345.84,2345.84,2345.84,0,0,2019-03-18 17:16:00

In [34]:
minutly = pd.date_range(start='2018-01-01 09:01', end='2018-12-31 17:01', freq='T')
df_18 = pd.DataFrame(minutly, columns=['DateTime'])
df_18.head()

             DateTime
0 2018-01-01 09:01:00
1 2018-01-01 09:02:00
2 2018-01-01 09:03:00
3 2018-01-01 09:04:00
4 2018-01-01 09:05:00

In [40]:
#df_18 = df_18.set_index('DateTime').join(df[['DateTime','Close']].set_index('DateTime'), how='left', on='DateTime')
df_18.head()

                     Close
DateTime
2018-01-01 09:01:00    NaN
2018-01-01 09:02:00    NaN
2018-01-01 09:03:00    NaN
2018-01-01 09:04:00    NaN
2018-01-01 09:05:00    NaN

In [41]:
df_18 = df_18.dropna()
df_18.head()

                       Close
DateTime
2018-01-03 09:01:00  2468.08
2018-01-03 09:02:00  2469.01
2018-01-03 09:03:00  2467.29
2018-01-03 09:04:00  2467.17
2018-01-03 09:05:00  2466.23

In [ ]:
df